<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <style>

    </style>
</head>

<body>
    <h1>Sign in</h1>
    <form method="POST" action="/">
        {{ form.hidden_tag() }}
        {{ form.name.label }}<br>
        {{ form.name}}<br>
        {{ form.gender.label}}<br>

        {% for subfield in form.gender %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}<br>
        {{ form.password.label}}<br>
        {{ form.password}}<br>
        {{ form.confirm.label}}<br>
        {{ form.confirm}}<br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>